body{
	margin: 0;
	padding: 0;
	background-image: url(../image/fon.png);
	background-repeat: repeat-y repeat-x;
	list-style: none;
	height: auto;
}
ul,li,p,span{
	padding: 0;
	margin: 0;
}
hr {
    border: none; /* Убираем границу */
    background-color: #293757; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px;
    width: 100%;/* Толщина линии */
}
button {
    cursor: pointer;
}
@font-face {
    font-family: "agbengaly";
    src: url(../fonts/agbengaly-roman_[allfont.ru]/agbengaly-roman__allfont.ru_.eot);
    src: url(../fonts/agbengaly-roman_[allfont.ru]/agbengaly-roman__allfont.ru_) format("embedded-opentype"),
         url(../fonts/agbengaly-roman_[allfont.ru].woff) format("woff"),
         url(../fonts/agbengaly-roman_[allfont.ru].ttf) format("truetype"),
         url(../fonts/agbengaly-roman_[allfont.ru]) format("svg");
    font-weight: normal;
    font-style: normal;	   
}
@font-face {
	font-family: "agopus";
    src: url(../fonts/AGOR____.eot);
    src: url(../fonts/AGOR____) format("embedded-opentype"),
         url(../fonts/AGOR____.woff) format("woff"),
         url(../fonts/AGOR____.ttf) format("truetype"),
         url(../fonts/AGOR____) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
	 font-family: "alegreto";
    src: url(../fonts/iJeEfi8n.eot);
    src: url(../fonts/iJeEfi8n) format("embedded-opentype"),
         url(../fonts/iJeEfi8n.woff) format("woff"),
         url(../fonts/iJeEfi8n.ttf) format("truetype"),
         url(../fonts/iJeEfi8n) format("svg");
    font-weight: normal;
    font-style: normal;
}

/*form[name="editCategory"] div {*/
    /*width: 90%;*/
/*}*/
.wrapper{
	margin: 0 auto;
	height:auto; 
	max-width: 1200px;
}
	.alegreto-font{
		font-family: 'alegreto';
		font-size: 24px;
	}
	header{
		width: 100%;
		margin:0 auto;
		min-height: 210px;
	}
		.wrapper-slider{
			padding-top: 7%;
			margin: 0 auto;
			width: 89%;

		}
		#slides{
			border:solid 2pt;
			border-color: #b8c0e5; 
		}
		.container{
			padding: 1%;
			outline: solid 1pt #0e1a3e;
		}
		.border-slyder{
			
			margin: 0 auto;
			background-image: url(../image/border-slyder2.png);
			background-size: 100%;
			background-repeat:no-repeat;
			width: 66%;
		}

		.logo{
			display: block;
			cursor: pointer;
			margin: 0 auto;
			max-height: 171px; 
			height: auto;
			width: 53%;
		}
            ul#nav {
                list-style-type:none;
                margin:0;
                padding:0;
            }

            #nav {
                /*float:left;*/
                width:100%;
                height:75px; /* Высота всего меню (и верхнего уровня и нижнего, все вместе) */
                position:relative;
                margin:10px 0 40px; /* Отступ сверху и снизу от меню */
            }

            #nav .tab, #nav .current {
                margin:0;
                padding:0;
                list-style:none;
                display:block;
            }

            #nav li {
                font-family: Arial; /* Шрифт меню */
                display:inline;
                margin:0;
                padding:0;
                height:auto;
            }

            #nav .tab a, #nav .current a {
                display:block;
                height:40px; /* Высота верхнего уровня */
                float:left;
                background: url("/images/left_nav.png") no-repeat left top; /* Путь к левому изображению */
                padding:0 0 0 5px;
                text-decoration:none;
                font-size:14px; /* Размер шрифта верхнего уровня */
                line-height:40px;
                white-space:nowrap;
                margin-right: 2px; /* Отступы пунктов верхнего уровня */
                position: relative;
                z-index: 500;
            }

            #nav .tab a b, #nav .current a b {
                height:100%;
                display:block;
                background:url("/images/right_nav.png") no-repeat right top; /* Путь к правому изображению */
                padding:0 20px 0 15px;
                color:#606060; /* Цвет ссылок верхнего уровня */
            }

            #nav .tab a:hover, #nav .tab li:hover a {
                background-position:0 -50px;
                cursor:pointer;
            }

            #nav .tab a:hover b, #nav .tab li:hover a b {
                background-position:100% -50px;
                color:#fff;
            }

            #nav .sub {
                display:none;
            }

            #nav .current a {
                background-position:0 -50px;
                border-color:#046;
            }
            #nav .current a b {
                background-position:100% -50px;
                color:#fff; /* Цвет шрифта активного меню верхнего уровня */
            }


            #nav .sub li a:hover, #nav .tab a:hover .sub li a:hover, #nav .tab li:hover .sub li a:hover, #nav .sub_active .current_sub a, #nav .sub_active a:hover {
                color:#fff; /* Цвет шрифта активного меню нижнего уровня */
                text-decoration:underline;
            }


            #nav .tab li a:hover .sub, #nav .tab li:hover .sub, #nav .sub_active {
                display:block;
                position:absolute;
                width:100%;
                /*height: 35px;*/
                top:40px;
                left:0;
                background:#9E9B9B; /* Фон нижнего уровня */
                padding:0;
                z-index:100;
            }

            #nav .sub_active {
                z-index:10;
            }

            #nav .sub, #nav .sub_active {
                margin:0;
                padding:0;
                list-style:none;
            }


            * html #nav .sub_active, * html #nav .tab a:hover .sub {
                z-index:-1;
                margin-top:0;
                margin-top:1px;
            }

            #nav .sub_active a {
                height:25px;
                float:left;
                text-decoration:none;
                line-height:24px;
                white-space:nowrap;
                font-weight:normal;
            }

            #nav .sub_active a, #nav .tab a:hover .sub li a, #nav .tab li:hover .sub li a {
                display:inline;
                background:none;
                padding:0 10px;
                margin:0;
                font-size:13px; /* Размер шрифта нижнего уровня */
                width:auto;
                white-space:nowrap;
                font-weight:normal;
                border:0;
                color:#eee; /* Цвет шрифта нижнего уровня */
                height:35px;
                line-height:35px;
            }

		/*.header-menu-bottom ul li,.header-menu-top ul li{*/
			/*height: 37px;*/
			/*margin-right: 44px;*/
			/*display: inline-block;*/
			/*color: white;*/
			/*font-size: 18px;*/
			/*font-family: 'agbengaly';*/
		/*}*/

		/*.header-menu-bottom ul,.header-menu-top ul{*/
			/*display: block;*/
			/*margin-left: auto;*/
			/*margin-right: auto;*/
			/*margin-top: 20px; */
			/*width: 53%;*/
		/*}*/
		/*.header-menu-bottom ul li:last-child , .header-menu-top ul li:last-child{*/
			/*margin-right: 0;*/
		/*}*/
		/*.header-menu-bottom ul li a, .header-menu-top ul li a{*/
			/*text-decoration: none;*/
			/*color: white;*/
		/*}*/

		/*.header-menu-bottom ul li{*/
			/*height: 37px;*/
			/*margin-right: 7%;*/
			/*display: inline-block;*/
			/*color: white;*/
			/*font-size: 14px;*/
			/*font-family: 'agbengaly';*/
			/*text-decoration: underline*/
		/*}*/

		/*.header-menu-bottom ul{*/
			/*width: 64%;*/
		/*}*/
		/*.header-menu-bottom ul li:hover,.active-bottom{*/
			/*cursor: pointer;*/
			/*text-decoration:none !important;*/
		/*}*/

		/*.header-menu-top ul li:hover, .active-top{*/
			/*cursor: pointer;*/
			/*background-image: url(../image/hover-header-menu.png);*/
			/*background-repeat:no-repeat;*/
			/*background-position: center;*/
			/*background-size: 100%;*/
		/*}*/
	.papirus{
		height: auto;
	}

		.uzor-top{
			width: 99%;
			margin: 0 auto;
			background-image: url(../image/papirus-top2.png);
			background-repeat: no-repeat;
			background-size: 100%;
			height: 153px;
		}
		.content{

		    color: #293757;
			font-family: 'agopus';
			font-size: 14px;
			width: 65%;
			position: relative;
			margin: 0 auto;
			background-image: url(../image/papirus.png);
			background-repeat: repeat-y;
			background-size: 100%;
			height: auto;
			overflow: auto;
		}
			.warpper-content{
				overflow: auto;
				height: auto;
			}
		
			.left-content{
				font-weight: bolder;
				position: relative;
				top: 0;
                padding: 23px;
				margin-left: 1%;
				margin-right: 2%;
				float: left;
				height: inherit;
				min-height: 100px;
				width: 92%;
			}
	.footer{
		height: 40px;
		margin: 0 auto;
		width: 65%;
	}
/* All Smartphones in portrait and landscape ----------- */
/*@media only */
/*screen */
/*and (min-width :380px ) */
/*and (max-width :780px ),*/
/*screen*/
/*and (min-device-width :380px ) */
/*and (max-device-width :780px )*/
/*and (orientation : landscape),*/
/*screen*/
/*and (min-device-width :380px ) */
/*and (max-device-width :780px )*/
/*and (orientation : portrait) {*/
/* YOUR STYLE GOES HERE */
	/*.right-content{*/
		/*float: none;		*/
		/*width: 90%;*/
		/*height: auto;*/
		/*min-height: 0;*/
		/*margin: 0 auto;*/
	/*}*/

	/*.warpper-uzor-top{*/
	    /*height: 27%;*/
		/*max-height: 139px;*/
	/*}*/

	/*.left-content{*/
		/*float: none;*/
		/*width: 94%;*/
		/*padding: 3%;*/
	/*}*/
	/*.warpper-content{*/
		/*overflow: hidden;*/
	/*}*/
			/**/
	/*.pero{*/
		/*display: none;*/
	/*}*/
	/*.contact{*/
		/*margin :0;*/
		/*margin-right:11%; */
		/*display: inline-block;*/
		/*width: 55%;*/
		/*list-style: none;*/
		/*color: #0b1c40;*/
		/*text-decoration: none;*/
	/*}*/
	/*.uzor{*/
		/*display: none;*/
	/*}*/
	/*.portfolio-blok{*/
		/*display: inline-block;*/
		/*margin-left: 20%;*/
		/*width: 32%;*/
		/*margin: 0;*/
	/*}*/
	/*.portfollio{*/
		/*width: 100%;*/
		/*margin: 0 ;*/
		/*height: auto;*/
	/*}*/
	/*.work{*/
		/*width: 100%;*/
		/*font-family: 'agopus';*/
		/*font-size: 20px;*/
		/*display: block;*/
		/*text-align: center;*/
		/*margin: 0;*/
	/*}*/
	/*.buttot-show{*/

		/*width: 46%;*/
		/*min-width: 29px;*/
		/*max-width: 70px;*/
		/*padding: 4%;*/
		/*height: auto;*/
		/*display: block;*/
		/*text-decoration: none;*/
		/*color: #293757;*/
		/*font-size: 12px;*/
		/*box-shadow: 0 0 5px rgba(0,0,0,0.5);*/
	/*}*/
					/**/
/*}*/

/*@media only */
/*screen*/
/*and (max-width: 379px),*/
/*screen */
/*and (max-device-width : 379px){*/
	/*.right-content{*/
		/*min-height: 0;*/
		/*float: none;		*/
		/*width: 90%;*/
		/*margin: 0 ;*/
		/*margin-left: 10px;*/
		/*height: auto; */

	/*}*/
	/*.left-content{*/
		/*float: none;*/
		/*width: 94%;*/
		/*padding: 3%;*/
	/*}*/
	/*.warpper-uzor-top{*/
	    /*height: 14%;*/
		/*max-height: 139px;*/
	/*}*/
	/*.warpper-content{*/
		/*overflow: hidden;*/
	/*}*/
			/**/
	/*.pero{*/
		/*display: none;*/
		/**/
	/*}*/
	/*.contact{*/
		/*width: 100%;	*/
		/*margin: 0;*/
		/*display: block;*/
		/**/
		/*list-style: none;*/
		/*color: #0b1c40;*/
		/*text-decoration: none;*/
		/**/
	/*}		*/
	/*.uzor{*/
		/*display: none;*/
	/*}*/
	/*.portfolio-blok{*/
		/*display: none;*/
	/*}*/
	/*.portfollio{*/
		/*width: 100%;*/
		/*margin: 0 ;*/
		/*height: auto;*/
	/*}*/
	/*.work{*/
		/*width: 100%;*/
		/*font-family: 'agopus';*/
		/*font-size: 20px;*/
		/*display: block;*/
		/*text-align: center;*/
		/*margin: 0;*/
	/*}*/
	/*.buttot-show{*/
		/*width: 90%;*/
		/*max-width: 70px;*/
		/*height: auto;*/
		/*display: block;*/
		/*text-decoration: none;*/
		/*color: #293757;*/
		/*font-size: 12px;*/
		/*box-shadow: 0 0 5px rgba(0,0,0,0.5); */
	/*}*/

/*}*/

/*@media only 
screen 
and (min-device-width :380px ) 
and (max-device-width :780px ) {

	.right-content{
		float: none;		
		width: 90%;
		height: auto;
		min-height: 0;
		margin: 0 auto;
	}

	.warpper-uzor-top{
	    height: 14%;
		max-height: 139px;
	}

	.left-content{
		float: none;
		width: 94%;
		padding: 3%;
	}
	.warpper-content{
		overflow: hidden;
	}
			
				.pero{
					display: none;
					
				}
				.contact{
					margin :0;
					margin-right:11%; 
					display: inline-block;
					width: 55%;
					list-style: none;
					color: #0b1c40;
					text-decoration: none;
					
				}
				
				.uzor{
					display: none;
				}
				.portfolio-blok{
					display: inline-block;
					margin-left: 20%;
					width: 32%;
					margin: 0;
				}
					.portfollio{
						width: 100%;
						margin: 0 ;
						height: auto;
					}
				.work{
					width: 100%;
					font-family: 'agopus';
					font-size: 20px;
					display: block;
					text-align: center;
					margin: 0;
				}
				.buttot-show{

					width: 90%;
					max-width: 70px;
					height: auto;
					display: block;
					text-decoration: none;
					color: #293757;
					font-size: 12px;
    				box-shadow: 0 0 5px rgba(0,0,0,0.5); 
				}
					
}*/



/*@media only screen
and (max-device-width : 379px) {
.right-content{
		min-height: 0;
		float: none;		
		width: 90%;
		margin: 0 ;
		margin-left: 10px;
		height: auto; 

	}
	.left-content{
		float: none;
		width: 94%;
		padding: 3%;
	}
	.warpper-uzor-top{
	    height: 14%;
		max-height: 139px;
	}
	.warpper-content{
		overflow: hidden;
	}
			
				.pero{
					display: none;
					
				}
				.contact{
					width: 100%;	
					margin: 0;
					display: block;
					
					list-style: none;
					color: #0b1c40;
					text-decoration: none;
					
				}
				
				.uzor{
					display: none;
				}
				.portfolio-blok{
					display: none;
				}
					.portfollio{
						width: 100%;
						margin: 0 ;
						height: auto;
					}
				.work{
					width: 100%;
					font-family: 'agopus';
					font-size: 20px;
					display: block;
					text-align: center;
					margin: 0;
				}
				.buttot-show{
					width: 90%;
					max-width: 70px;
					height: auto;
					display: block;
					text-decoration: none;
					color: #293757;
					font-size: 12px;
    				box-shadow: 0 0 5px rgba(0,0,0,0.5); 
				}
}*/



/* iPad in landscape----------- */
/*@media only screen 
and (min-device-width :380px ) 
and (max-device-width :780px ) 
and (orientation : landscape) {
.right-content{
		float: none;		
		width: 90%;
		height: auto;
		min-height: 0;
		margin: 0 auto;
	}

	.warpper-uzor-top{
	    height: 14%;
		max-height: 139px;
	}

	.left-content{
		float: none;
		width: 94%;
		padding: 3%;
	}
	.warpper-content{
		overflow: hidden;
	}
			
				.pero{
					display: none;
					
				}
				.contact{
					margin :0;
					margin-right:11%; 
					display: inline-block;
					width: 55%;
					list-style: none;
					color: #0b1c40;
					text-decoration: none;
					
				}
				
				.uzor{
					display: none;
				}
				.portfolio-blok{
					display: inline-block;
					margin-left: 20%;
					width: 32%;
					margin: 0;
				}
					.portfollio{
						width: 100%;
						margin: 0 ;
						height: auto;
					}
				.work{
					width: 100%;
					font-family: 'agopus';
					font-size: 20px;
					display: block;
					text-align: center;
					margin: 0;
				}
				.buttot-show{

					width: 90%;
					max-width: 70px;
					height: auto;
					display: block;
					text-decoration: none;
					color: #293757;
					font-size: 12px;
    				box-shadow: 0 0 5px rgba(0,0,0,0.5); 
				}
}*/

/* iPad in portrait----------- */
/*@media only screen 
and (min-device-width :380px ) 
and (max-device-width :780px )
and (orientation : portrait){

.right-content{
		float: none;		
		width: 90%;
		height: auto;
		min-height: 0;
		margin: 0 auto;
	}

	.warpper-uzor-top{
	    height: 14%;
		max-height: 139px;
	}

	.left-content{
		float: none;
		width: 94%;
		padding: 3%;
	}
	.warpper-content{
		overflow: hidden;
	}
			
				.pero{
					display: none;
					
				}
				.contact{
					margin :0;
					margin-right:11%; 
					display: inline-block;
					width: 55%;
					list-style: none;
					color: #0b1c40;
					text-decoration: none;
					
				}
				
				.uzor{
					display: none;
				}
				.portfolio-blok{
					display: inline-block;
					margin-left: 20%;
					width: 32%;
					margin: 0;
				}
					.portfollio{
						width: 100%;
						margin: 0 ;
						height: auto;
					}
				.work{
					width: 100%;
					font-family: 'agopus';
					font-size: 20px;
					display: block;
					text-align: center;
					margin: 0;
				}
				.buttot-show{

					width: 90%;
					max-width: 70px;
					height: auto;
					display: block;
					text-decoration: none;
					color: #293757;
					font-size: 12px;
    				box-shadow: 0 0 5px rgba(0,0,0,0.5); 
				}
}*/
form.category .wrapper-input{
    display: inline-block;
    vertical-align: top;
}
.ech{
 cursor: move;

}

form.category input{
    display: block;
}

form button{
    display: block;
}

.tab{
    display: inline-block;
    margin-left: 10px;
    text-underline: none;
    /*border-bottom: 1px dotted;*/
    cursor: pointer;
}
a{
    text-decoration: none;
}
.tab.active-tab{
    border-bottom: 1px dotted;
    text-decoration: none;
}

/*form[name='editCategory'] label.number , form[name='editCategory'] label.title {*/

    /*display: block;*/

/*}*/

/*form[name='editCategory'] input.number{*/

    /*width: 20px;*/

/*}*/

/* All Smartphones in landscape ----------- */


