body{
	margin: 0;
	padding: 0;
	background-image: url(../image/fon.png);
	background-repeat: repeat-y repeat-x;
	list-style: none;
	height: auto;
}
ul,li,p,span{
	padding: 0;
	margin: 0;
}
hr {
    border: none; /* Убираем границу */
    background-color: #293757; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px;
    width: 100%;/* Толщина линии */
}
button {
    cursor: pointer;
}
@font-face {
    font-family: "agbengaly";
    src: url(../fonts/agbengaly-roman_[allfont.ru]/agbengaly-roman__allfont.ru_.eot);
    src: url(../fonts/agbengaly-roman_[allfont.ru]/agbengaly-roman__allfont.ru_) format("embedded-opentype"),
         url(../fonts/agbengaly-roman_[allfont.ru].woff) format("woff"),
         url(../fonts/agbengaly-roman_[allfont.ru].ttf) format("truetype"),
         url(../fonts/agbengaly-roman_[allfont.ru]) format("svg");
    font-weight: normal;
    font-style: normal;	   
}
@font-face {
	font-family: "agopus";
    src: url(../fonts/AGOR____.eot);
    src: url(../fonts/AGOR____) format("embedded-opentype"),
         url(../fonts/AGOR____.woff) format("woff"),
         url(../fonts/AGOR____.ttf) format("truetype"),
         url(../fonts/AGOR____) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
	 font-family: "alegreto";
    src: url(../fonts/iJeEfi8n.eot);
    src: url(../fonts/iJeEfi8n) format("embedded-opentype"),
         url(../fonts/iJeEfi8n.woff) format("woff"),
         url(../fonts/iJeEfi8n.ttf) format("truetype"),
         url(../fonts/iJeEfi8n) format("svg");
    font-weight: normal;
    font-style: normal;
}

/*form[name="editCategory"] div {*/
    /*width: 90%;*/
/*}*/
.wrapper{
	margin: 0 auto;
	height:auto; 
	max-width: 1200px;
}
	.alegreto-font{
		font-family: 'alegreto';
		font-size: 24px;
	}
	header{
		width: 100%;
		margin:0 auto;
		min-height: 210px;
	}
		.wrapper-slider{
			padding-top: 7%;
			margin: 0 auto;
			width: 89%;

		}
		#slides{
			border:solid 2pt;
			border-color: #b8c0e5; 
		}
		.container{
			padding: 1%;
			outline: solid 1pt #0e1a3e;
		}
		.border-slyder{
			
			margin: 0 auto;
			background-image: url(../image/border-slyder2.png);
			background-size: 100%;
			background-repeat:no-repeat;
			width: 66%;
		}

		.logo{
			display: block;
			cursor: pointer;
			margin: 0 auto;
			max-height: 171px; 
			height: auto;
			width: 53%;
		}
            ul#nav {
                list-style-type:none;
                margin:0;
                padding:0;
            }

            #nav {
                /*float:left;*/
                width:100%;
                height:75px; /* Высота всего меню (и верхнего уровня и нижнего, все вместе) */
                position:relative;
                margin:10px 0 40px; /* Отступ сверху и снизу от меню */
            }

            #nav .tab, #nav .current {
                margin:0;
                padding:0;
                list-style:none;
                display:block;
            }

            #nav li {
                font-family: Arial; /* Шрифт меню */
                display:inline;
                margin:0;
                padding:0;
                height:auto;
            }

            #nav .tab a, #nav .current a {
                display:block;
                height:40px; /* Высота верхнего уровня */
                float:left;
                background: url("/images/left_nav.png") no-repeat left top; /* Путь к левому изображению */
                padding:0 0 0 5px;
                text-decoration:none;
                font-size:14px; /* Размер шрифта верхнего уровня */
                line-height:40px;
                white-space:nowrap;
                margin-right: 2px; /* Отступы пунктов верхнего уровня */
                position: relative;
                z-index: 500;
            }

            #nav .tab a b, #nav .current a b {
                height:100%;
                display:block;
                background:url("/images/right_nav.png") no-repeat right top; /* Путь к правому изображению */
                padding:0 20px 0 15px;
                color:#606060; /* Цвет ссылок верхнего уровня */
            }

            #nav .tab.active a, #nav .tab.active li a {
                background-position:0 -50px;
                cursor:pointer;
            }

            #nav .tab.active a, #nav .tab.active li a b {
                background-position:100% -50px;
                color:#fff;
            }

            #nav .sub {
                display:none;
            }

            #nav .current a {
                background-position:0 -50px;
                border-color:#046;
            }
            #nav .current a b {
                background-position:100% -50px;
                color:#fff; /* Цвет шрифта активного меню верхнего уровня */
            }


            #nav .sub li a:hover, #nav .tab a .sub li a:hover, #nav .tab li .sub li a:hover,
            .tab .sub-row.active{
                color:#fff;
                text-decoration:underline;
            }


           #nav .tab.active li a .sub.active, #nav .tab.active li .sub {
                display:block;
                position:absolute;
                width:100%;
                top:40px;
                left:0;
                padding:0;
                z-index:100;
                height: 60px;
            }
            #nav .sub,{
                margin:0;
                padding:0;
                list-style:none;
            }


            * html #nav .tab.active a.sub {
                z-index:-1;
                margin-top:0;
                margin-top:1px;
            }



              #nav .tab.active a .sub li a, #nav .tab.active li .sub li a {
                display:inline;
                background:none;
                padding:0 10px;
                margin:0;
                font-size:13px; /* Размер шрифта нижнего уровня */
                width:auto;
                white-space:nowrap;
                font-weight:normal;
                border:0;
                color:#eee; /* Цвет шрифта нижнего уровня */
                height:35px;
                line-height:35px;
            }

	.papirus{
		height: auto;
	}

		.uzor-top{
			width: 99%;
			margin: 0 auto;
			background-image: url(../image/papirus-top2.png);
			background-repeat: no-repeat;
			background-size: 100%;
			height: 153px;
		}
		.content{

		    color: #293757;
			font-family: 'agopus';
			font-size: 14px;
			width: 69%;
			position: relative;
			margin: 0 auto;
			background-image: url(../image/papirus.png);
			background-repeat: repeat-y;
			background-size: 100%;
			height: auto;
			overflow: auto;
		}
			.warpper-content{
				overflow: auto;
				height: auto;
			}
		
			.left-content{
				font-weight: bolder;
				position: relative;
				top: 0;
                padding: 23px;
				margin-left: 1%;
				margin-right: 2%;
				float: left;
				height: inherit;
				min-height: 100px;
				width: 92%;
			}
	.footer{
		height: 40px;
		margin: 0 auto;
		width: 65%;
	}

form.category .wrapper-input{
    display: inline-block;
    vertical-align: top;
}
.ech{
 cursor: move;
}

 input{
    display: block;
     height: inherit;width: inherit;
}
 textarea{
    display: block;

}

select{
    display: block;
    height: inherit;width: inherit;
}

form button{
    display: block;

}

.content-tab .tab{
    display: inline-block;
    margin-left: 10px;
    text-underline: none;
    /*border-bottom: 1px dotted;*/
    cursor: pointer;
}
a{
    text-decoration: none;
}
.content-tab .tab.active-tab{
    border-bottom: 1px dotted;
    text-decoration: none;
}
.wrapper-input ul{
    width: inherit;
    height: auto;
    background-color: red;
    color:#ffffff;
    padding: 8px;
    font-size: 12px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    display: block;
    opacity: 0.8;
}

.wrapper-input.title{
    width: 155px;
}
.wrapper-input.visible{
    width: 70px;
}
.wrapper-input.number{
    width: 127px;
}
input {
    width: inherit;
}

.wrapper-input li {
    list-style: none;
}
form.addProduct .wrapper-input{
    margin-top: 10px;
    margin-left: 5px
}

form.addProduct p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.add-image{
    font-size: 20px;
    font-weight: bold;
    color: green;
    cursor: pointer;
}

button.addProduct{
    margin-top: 20px;
}
.wrapper-image,.wrapper-image-color{
    display: inline-block;
    align-content: center;
}

#map{
    width: 600px;
    height: 400px;
}

.googleLabels{
    color: white;
    background-color: red;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    text-align: center;
    width: 10px;
    white-space: nowrap;

}

.left-content.addProduct div.addres_buy,.left-content.addProduct textarea.video{
    width: 500px;
    height: auto;
    display: block;

}
.left-content.addProduct textarea.addres_buy,.left-content.addProduct div.video{
    width: 500px;
    height: auto;
    display: block;

}
.prewiew-defult{

    margin: 5px;

}
.prewiew-defult-pdf {

    width: 100px;
    height: 100px;
    background-size: 100%;
    border: solid 1px #000000;
    display: inline-block;
    margin: 5px;
    word-break: break-all;
    vertical-align: top;

}

.prewiew-pdf{

    width: 100px;
    height: 100px;
    background-size: 100%;
    border: solid 1px #000000;
    display: inline-block;
    margin: 5px;
    word-break: break-all;
    vertical-align: top;
}
.pdf-title{
    word-break: break-all;
    display: block;
    font-size: 10px;
    width: 100px;
    height: auto;
}

.pdf-fake{
    display: inline-block;
    vertical-align: middle;
}
.all-product .wrapper-input{
    display: inline-block;
}

.all-product .wrapper-input label{
    font-size: 10px;
}
.all-product .wrapper-input select{
    width: 200px;
}
.all-product .wrapper-input select{
    font-size: 12px;
}
#limit{
    width: 40px;
}

.all-product table{
    width: 95%;
    margin: 0 auto;
}

all-product.title{
    width: 200px;
    text-align: center;
}
.all-product .prewiew{
    display: block;
    margin: 0 auto;
}
.main-image{
    border: 2px solid lime;
    margin: 5px;
}
.prewiew.deleted-image{
    margin: 5px;
    border: solid 2px black;
    cursor: pointer;
}

.prewiew.deleted-image-color{
    margin: 5px;
    border: solid 2px black;
    cursor: pointer;
}

.prewiew.deleted-image.main-image{
    border: solid 4px green;
}
.loginForm{
    margin: 0 auto;
    width: 200px;
    padding: 20px;
}
.toggle-edit{
    cursor: pointer;
}

.admin-product tr td {

    text-align: center;

}
.admin-product img {

    margin: 5px;

}
.admin-product tr {

    margin: 5px;

}
.group-file{
    position: relative;
    left: 10%
}
.group-product{
    margin-top: 30px;
    padding-bottom: 10px;
}






