body{
	margin: 0;
	padding: 0;
	background-image: url(../image/fon.png) !important;
	background-repeat: repeat-y repeat-x !important;
	list-style: none;
	height: auto;
}
p,span{
	padding: 0;
	margin: 0;
}
@font-face {
    font-family: "agbengaly";
    src: url(../fonts/agbengaly-roman_[allfont.ru]/agbengaly-roman__allfont.ru_.eot);
    src: url(../fonts/agbengaly-roman_[allfont.ru]/agbengaly-roman__allfont.ru_) format("embedded-opentype"),
         url(../fonts/agbengaly-roman_[allfont.ru].woff) format("woff"),
         url(../fonts/agbengaly-roman_[allfont.ru].ttf) format("truetype"),
         url(../fonts/agbengaly-roman_[allfont.ru]) format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "alegreto";
    src: url(../fonts/iJeEfi8n.eot);
    src: url(../fonts/iJeEfi8n) format("embedded-opentype"),
    url(../fonts/iJeEfi8n.woff) format("woff"),
    url(../fonts/iJeEfi8n.ttf) format("truetype"),
    url(../fonts/iJeEfi8n) format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "agopus";
    src: url(../fonts/AGOR____.eot);
    src: url(../fonts/AGOR____) format("embedded-opentype"),
    url(../fonts/AGOR____.woff) format("woff"),
    url(../fonts/AGOR____.ttf) format("truetype"),
    url(../fonts/AGOR____) format("svg");
    font-weight: normal;
    font-style: normal;
}
/*@font-face {*/
    /*font-family: "agopusob";*/
    /*src: url(../fonts/AGOR____.eot);*/
    /*src: url(../fonts/AGOR____) format("embedded-opentype"),*/
    /*url(../fonts/AGOR____.woff) format("woff"),*/
    /*url(../fonts/12499.ttf) format("truetype"),*/
    /*url(../fonts/AGOR____) format("svg");*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

.wrapper{
	margin: 0 auto;
	height:auto;
	max-width: 1200px;
}
	.alegreto-font{
		font-family: 'alegreto';
		font-size: 24px;
	}
	header{
		width: 100%;
		margin:0 auto;
		min-height: 210px;
	}
		.wrapper-slider{
			padding-top: 7%;
			margin: 0 auto;
			width: 89%;

		}
		#slides{
			border:solid 2pt;
			border-color: #b8c0e5;
		}
		.container-slider{
			padding: 1%;
			outline: solid 1pt #0e1a3e;
            position: relative;
		}
		.border-slyder{

			margin: 0 auto;
			background-image: url(../image/border-slyder2.png);
			background-size: 100%;
			background-repeat:no-repeat;
			width: 66%;
		}

		.logo{
			display: block;
			cursor: pointer;
			margin: 0 auto;
			max-height: 171px;
			height: auto;
			width: 53%;
		}

		.header-menu-bottom ul li,.header-menu-top ul li{
			height: 37px;
			margin-right: 44px;
			display: inline-block;
			color: white;
			font-size: 18px;
			font-family: 'agbengaly';
		}

		.header-menu-bottom ul,.header-menu-top ul{
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
			width: 53%;
		}
		.header-menu-bottom ul li:last-child , .header-menu-top ul li:last-child{
			margin-right: 0;
		}
		.header-menu-bottom ul li a, .header-menu-top ul li a{
			text-decoration: none;
			color: white;
		}

		.header-menu-bottom ul li{
			height: 37px;
			margin-right: 7%;
			display: inline-block;
			color: white;
			font-size: 14px;
			font-family: 'agbengaly';
			text-decoration: underline
		}

		.header-menu-bottom ul{
			width: 64%;
		}
		.header-menu-bottom ul li:hover,.active-bottom{
			cursor: pointer;
			text-decoration:none !important;
		}
		/*.active-bottom{
			cursor: pointer;
			text-decoration:none;
		}*/
		.header-menu-top ul li:hover, .active-top{
			cursor: pointer;
			background-image: url(../image/hover-header-menu.png);
			background-repeat:no-repeat;
			background-position: center;
			background-size: 100%;
		}
	.papirus{
		height: auto;
	}
		.warpper-uzor-top{
			background-image: url(../image/papirus.png);
			background-repeat: repeat-y;
			background-size: 100%;
			margin: 0 auto;
			width:65%;
			height: 38%;
		    max-height: 139px;
		}

		.uzor-top{
			width: 99%;
			margin: 0 auto;
			background-image: url(../image/papirus-top2.png);
			background-repeat: no-repeat;
			background-size: 100%;
			height: 153px;
		}
		.content{

		    color: #293757;
			font-family: 'agopus';
			font-size: 14px;
			width: 65%;
			position: relative;
			margin: 0 auto;
			background-image: url(../image/papirus.png);
			background-repeat: repeat-y;
			background-size: 100%;
			height: auto;
			overflow: auto;
		}
        .portfolio-blok{

        }
			.warpper-content{
				overflow: auto;
				height: auto;
			}

			.left-content{
				font-weight: bolder;
				position: relative;
				top: 0;
				padding-left: 23px;
				margin-left: 1%;
				margin-right: 2%;
				float: left;
				height: inherit;
				min-height: 100px;
				width: 64%;
                overflow: hidden ;
			}
            .left-content.manufacturers{
                margin-left: 2%;
            }
            .border-content {
                background-image: url(../image/frame.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                width: 176px;
                height: 154px;
                position: relative;
                z-index: 2;
                text-align: center;
            }
            .subcategories-image {
                top: 8px;
                left: 16px;
                position: absolute;
                z-index: 1;
                display: block;
                width: 145px;
                height: 138px;
                /* -webkit-border-radius: 10px; */
                /*-moz-border-radius: 10px;*/
                /* border-radius: 10px; */
                cursor: pointer;
            }
            .desk-subcategories{
                color: #293757;
                font-family: 'agbengaly';
                font-style: italic;
                font-weight: 400;
                font-size: 16px;
                text-decoration: underline;
                display: block;
                margin: 0 auto;
                width: 143px;
                text-align: center;

                
            }
            .left-content .warpper-subcategories{
                display: inline-block;
                width: 176px;
                height: 180px;
                vertical-align: top;
                margin: 7%;

            }.left-content .warpper-subcategories a {
                 font-family: 'agbengaly';
                 font-style: italic;
                 font-weight: 400;
                 font-size: 16px;
                 text-decoration: underline;
                 display: block;
                 margin: 0 auto;
                 width: 143px;
                 color: #293757;
                 text-align: center;

            }
             .warpper-product{
                 max-width: 160px;
                 max-height: 180px;
                 width: 20%;
                 height:121px ;
                 display: inline-block;
                 vertical-align: top;
                 margin: 23px;
             }
             .warpper-product-img img{
                 width: 100%;
                 height: 90px;
             }
                .warpper-product-img{
                    width: 100%;
                    height: 90px;
                }
             .desk-product{
                 color: #4a5369;
                 font-family: 'agbengaly';
                 font-style: italic;
                 font-weight: 400;
                 font-size: 14px;
                 text-decoration: none;
                 display: block;
                 margin: 0 auto;
                 width: 110px;
                 text-align: center;
                 word-wrap:break-word;
             }
             .warpper-subcategories{
                 position: relative;
             }

            .manufacturers-image{
                min-width: 87px;
                max-width: 150px;
                max-height: 110px;
            }

            .desk-slider{

                font-family: 'alegreto';
                display: block;
                position: absolute;
                right: 10px;
                bottom: 10px;
                font-size: 40px;
                color: #ffffff;
                z-index: 10000000;
            }

            .warpper-manufacturers{
                max-width: 150px;
                max-height: 150px;
                display: inline-block;
                vertical-align: top;
                margin: 15px;
            }
            .desk-manufacturers {
                text-decoration: none;
                color: #293757;
            }
            .warpper-manufacturers-img{
                display:table;
                max-width: 150px;
                max-height: 110px;
            }
            .calibration-center{
                border:none;
                height: 110px;
                width: 110px;
                display:table-cell;
                vertical-align:middle;
                text-align:center
            }
            .desk-manufacturer {
                color: #4a5369;
                font-family: 'agbengaly';
                font-style: italic;
                font-weight: 400;
                font-size: 16px;
                text-decoration: none;
                display: block;
                margin: 0 auto;
                width: 110px;
                text-align: center;
            }
            .warpper-manufacturers-desk{
                max-width: 150px;
                max-height: 200px;
            }
            .warpper{
                position: relative;
                width: 176px;
                height: 154px;
            }
            .img-product{
                width: 130px;
                height:90px;
                float: left;
                margin: 10px 10px 10px 0;
            }
            .title-product{
                color: #4a5369;
                font-family: 'agbengaly';
                font-weight: 400;
                font-size: 16px;
                width: 110px;
                text-align: center;
            }
            .secend-part-title{
                font-size: 18px;
            }
            .description-product{
                text-align: justify;
                overflow: auto;
                font-size: 14px;
                font-style: italic;
                font-weight: normal;
            }
            div.line{
                border-bottom: solid;
                border-color: #c7cbd7;
                border-width: 1px;
                height: 29px;
                float: left;
                width: 1%;
            }
            .page-circle .circle.active{
                background-color:#0b1c40;
            }
            .page-circle .circle{
                display: inline-block;
                height: 9px;
                width: 9px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                border-radius: 50px;
                border:solid ;
                border-width:1px ;
            }
            .page-circle{
                width: 50px;
                padding: 10px;
                min-width: 100px;
                margin: 0 auto;
            }
            .img-color-product{
                height: 50px;
                width: 80px;
            }
            .wrap-img-color-product a{
                text-decoration: none;
            }
            .wrap-img-color-product {
                margin: 10px;
                display: inline-block;
                height: 50px;
                width: 80px;
            }
            .wrap-tabs-block{
                width: 100%;
                height: auto;
            }

            .item-tubs-product{
                cursor: pointer;
                position: relative;
                margin-right: 14px;
                background-color: #f2f1f1;
                font-size: 12px;
                font-style: normal;
                padding-left: 1%;
                padding-right: 1%;
                padding-top: 5px;
                padding-bottom: 5px;
                display: inline-block;
                border: solid;
                border-color: #c7cbd7;
                border-width: 1px;
                -webkit-border-top-left-radius: 5px;
                -webkit-border-top-right-radius: 5px;
                -moz-border-radius-topleft: 5px;
                -moz-border-radius-topright: 5px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            .item-tubs-product.bays{

                margin-right: 0;
            }

            .wrap-tab-content{
                display: none;
            }
            .wrap-tab-content.active{
                display: block;
            }
            .wrap-tab-content{
                position: relative;
                z-index: 0;
                margin-top: -1px;
                width: 97%;
                float: left;
                font-family: 'agbengaly';
                font-size: 12px;
                color: #707686;
                font-style: normal;
                font-weight: 600;
                border: solid;
                border-color: #c7cbd7;
                border-width: 1px;
                padding: 5px;

            }
            .item-tubs-product.active{
                z-index: 5;
                border-bottom: none;
                background: none;
                background-color: white;
                padding-bottom: 6px;
            }
            .item-tubs-product.active>.wrap-tab-content{
                display: block;
            }
            .wrap-tab-content .video-frame{
                width: inherit;

                min-height: 315px ;

                height: inherit;
                display: block;
                margin: 10px auto;
            }

				.podpis{
					position: relative;
					right: 0;
					max-height: 73px;
					max-width: 197px;
					width: 36%;
					height: auto;
				}

			.right-content{
				float: left;
				line-height: 1.2;
				width: 28%;
				min-height: 500px;
				height: inherit;
                overflow: hidden;
			}

                .title-pays-hit{
                    width: 80%;
                    font-family: 'agbengaly';
                    font-style: italic;
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 10px;
                }

                .right-content .wrap-pays-item .pays-item{
                    background-image: url(../image/frame-hit.png);
                    background-repeat: no-repeat;
                    position: relative;
                    z-index: 2;
                    width: 80px;
                    height: 68px;

                 }
                .wrap-pays-item{
                    display: inline-block;
                    position: relative;
                    width: 76px;
                    height: 66px;
                }
                .wrap-pays-item  img{
                    position: absolute;
                    width: 71px;
                    height: 63px;
                    z-index: 1;
                    top: 0;
                }
                .right-content .hit-pays{
                    width: 89%;
                    margin: 0 auto;
                    height: auto;
                }
                .right-content .hit-pays a{
                  text-decoration: none;
                }
                .right-content .right-menu-sub {
                    list-style-image: url(../image/rgb/arrow.png);
                    font-family: 'agbengaly';
                    font-style: italic;
                    font-size: 17px;
                    padding-left: 22px;
                }
                .right-menu{
                    color:#0b1c40;
                    padding-left: 0;
                    width: 87%;
                    word-wrap:break-word;
                }
                .right-menu a{
                    color:#293757;
                }
                .title-menu{
                    font-size: 20px;
                    display: block;
                    margin: 0 auto;
                    margin-top: 50px;
                    width: 37%
                }
                .title-menu .alegreto-font{
                    font-size: 30px;
                    font-weight: 700;
                }
                .title-menu-type{
                    font-size: 22px;
                    font-weight: 500;
                    font-family: 'agbengaly';
                    font-style: italic;
                }
                .right-content .right-menu-main {
                    list-style: none;
                    font-family: 'agbengaly';
                    font-style: italic;

                }
                .right-content .right-menu-main span {
                    text-decoration: underline;
                    font-size: 16pt;
                }
                .right-content .right-menu-main span.active a,.right-content .right-menu-main span.active{
                    color: #9f9f9f;
                    text-decoration: none;
                    font-size: 16pt;
                }
                .right-menu-sub-active b,.right-menu-sub-active{
                    color: #9f9f9f;
                    text-decoration: none;
                }
				.pero{
					margin-left: 24%;
					height: auto;
					width:31%;
				}
				.contact{
					list-style: none;
					width: 75%;
					display: block;
					margin: 0 auto;
					color: #0b1c40;
					text-decoration: none;
					margin-bottom: 20px;
                    font-style: italic;

				}
				.contact-header{
					font-weight: bold;
					font-size: 24px;
					line-height: 1.2;
				}
				.tel,.email,.adres,.city{
					font-size: 16px;
				}
				.uzor{
					display: block;
					margin: 0 auto;
					width: 27%;
					height: auto;
				}
				.portfolio-wrapper{
					max-height: 203px;
					height: 20%;
				}
					.portfollio{
						height: auto;
						width:73%;
						max-width: 135px;
						max-height: 122px;
						margin: 0 auto;
						display: block;
					}
					.work{
						font-family: 'agopus';
						font-size: 20px;
						display: block;
						text-align: center;
						margin: 0 auto;
						width: 65%;
					}
					.buttot-show{
						width: auto;
						max-width: 57px;
						height: auto;
						display: block;
						text-decoration: none;
						color: #293757;
						font-size: 12px;
	    				box-shadow: 0 0 5px rgba(0,0,0,0.5);
						margin: 12px auto 10px auto;
	    				box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */
	    				padding: 5px;
                        text-align: center;
					}
                    .buttot-show.hit{
                        margin-top: 0;
                        margin-left: 27%;
                    }

		.uzor-down {
			width: 47%;
			margin-left: 16%;
			background-image: url(../image/uzor-down.jpg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100%;
			height: 107px;
		}
	.footer{
		height: 40px;
		margin: 0 auto;
		width: 65%;
	}
/* All Smartphones in portrait and landscape ----------- */

/*@media only*/
/*screen*/
/*and (min-width :380px )*/
/*and (max-width :780px ){*/


/*}*/



@media only
screen
and (min-width :380px )
and (max-width :780px ),
screen
and (min-device-width :380px )
and (max-device-width :780px )
and (orientation : landscape),
screen
and (min-device-width :380px )
and (max-device-width :780px )
and (orientation : portrait) {
/* YOUR STYLE GOES HERE */
	.right-content{
        overflow: hidden;
		float: none;
		width: 90%;
		height: auto;
		min-height: 0;
		margin: 0 auto;
	}

    /*.right-content.page{*/
        /*display: none;*/
    /*}*/
	/*.warpper-uzor-top{*/
	    /*height: 27%;*/
		/*max-height: 139px;*/
	/*}*/

	.left-content{
		float: none;
		width: 94%;
		padding: 3%;
	}

	.warpper-content{
		overflow: hidden;
	}

	.pero{
		display: none;
	}
	.contact{
		margin :0;
		margin-right:11%;
		display: inline-block;
		width: 55%;
		list-style: none;
		color: #0b1c40;
		text-decoration: none;
	}
	.uzor{
		display: none;
	}
    .portfolio-blok {
		display: inline-block;
		margin-left: 20%;
		width: 32%;
	}
	.portfollio {
		width: 100%;
		margin: 0 ;
		height: auto;
	}
	.work{
		width: 100%;
		font-family: 'agopus';
		font-size: 20px;
		display: block;
		text-align: center;
		margin: 0;
	}
	.buttot-show{

		width: 46%;
		min-width: 29px;
		max-width: 70px;
		padding: 4%;
		height: auto;
		display: block;
		text-decoration: none;
		color: #293757;
		font-size: 12px;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
	}

}

@media only
screen
and (max-width: 379px),
screen
and (max-device-width : 379px){

    .right-content.page{
        display: none;
    }
	.right-content{
		min-height: 0;
		float: none;
		width: 90%;
		margin: 0 ;
		margin-left: 10px;
		height: auto;

	}
	.left-content{
		float: none;
		width: 94%;
		padding: 3%;
	}
	/*.warpper-uzor-top{*/
	    /*height: 14%;*/
		/*max-height: 139px;*/
	/*}*/
	.warpper-content{
		overflow: hidden;
	}

	.pero{
		display: none;

	}
	.contact{
		width: 100%;
		margin: 0;
		display: block;

		list-style: none;
		color: #0b1c40;
		text-decoration: none;

	}
	.uzor{
		display: none;
	}
	.portfolio-blok{
		display: none;
	}
	.portfollio{
		width: 100%;
		margin: 0 ;
		height: auto;
	}
	.work{
		width: 100%;
		font-family: 'agopus';
		font-size: 20px;
		display: block;
		text-align: center;
		margin: 0;
	}
	.buttot-show{
		width: 90%;
		max-width: 70px;
		height: auto;
		display: block;
		text-decoration: none;
		color: #293757;
		font-size: 12px;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
	}

}

.left-content.pages ul li{
    list-style-image: url(../image/rgb/list-stile.png);
    padding-bottom: 10px;
}


/* All Smartphones in landscape ----------- */
@media only screen
and (min-width : 321px) {
/* YOUR STYLE GOES HERE */
}

/* All Smartphones in portrait ----------- */
@media only screen
and (max-width : 479px) {
/* YOUR STYLE GOES HERE */
}

/***** ANDROID DEVICES *****/

/* Android 240 X 320 ----------- */
@media only screen
and (max-width: 241px){
/* YOUR STYLE GOES HERE */
}

/* Android(Samsung Galaxy) in portrait 380 X 685 ----------- */
@media only screen
and (min-width: 375px)
and (max-width: 385px){
/* YOUR STYLE GOES HERE */
}

/* Android(Samsung Galaxy) in Landscape 685 X  380 ----------- */
@media only screen
and (min-width: 680px)
and (max-width: 690px){
/* YOUR STYLE GOES HERE */
}

/* Kindle Portrait 600 X 1024 ----------- */
@media only screen
and (min-width: 595px)
and (max-width: 610px){
/* YOUR STYLE GOES HERE */
}

/* Kindle Landscape 1024 X 600 ----------- */
@media only screen
and (min-width: 1000px)
and (max-width: 1030px){
/* YOUR STYLE GOES HERE */
}






/***** ALL GENERATION IPADS *****/

/* iPads in portrait and landscape----------- */


/* iPad in landscape----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* YOUR STYLE GOES HERE */
}

/* iPad in portrait----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait){
/* YOUR STYLE GOES HERE */
}



/***** Retina IPAD 3 & 4*****/

/* Retina iPad 3 & 4 in portrait and landscape----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2){
/* YOUR STYLE GOES HERE */
}

/* Retina iPad 3 & 4 in landscape----------- */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2){
/* YOUR STYLE GOES HERE */
}

/* Retina iPad 3 & 4 in landscape----------- */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2){
/* YOUR STYLE GOES HERE */
}




/***** IPAD 1 & 2 (ALSO IPAD MINI)*****/

/* iPad 1 & 2 in portrait and landscape ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1){
/* YOUR STYLE GOES HERE */
}

/* iPad 1 & 2 in landscape ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
/* YOUR STYLE GOES HERE */
}

/* iPad 1 & 2 in portrait ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1){
/* YOUR STYLE GOES HERE */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* YOUR STYLE GOES HERE */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* YOUR STYLE GOES HERE */
}

/* Only iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* YOUR STYLE GOES HERE */
}

.description-file-pdf {
    background-image: url(../image/image-pdf-ico.jpg);
    background-size:  100% 100%;
    width: 50px;
    height: 50px;
}
.color-file-pdf{
    background-image: url(../image/image-pdf-ico.jpg);
    background-size:  100% 100%;
    width: 101px;
    height: 100px;
}

